.font-lobster{
    font-family: 'Lobster', cursive;
    font-size: 5rem;
    color: #D92121;
    padding-left: 50px;
   
}

.text-lobster {

    color: #D92121;
    font-size: 1rem;
   padding: 3rem;
   font-weight: 800;

}
header{
    background-image: url("./assets/images/18656884-group-of-thumbtacks-pinned-on-corkboard.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;

  
}

#nav-wrap {
    font: 12px 'opensans-bold', sans-serif;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin: 0 auto;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    background: #f5f5f4;
 }

 body {
    background-color: #f5f5f4;
 }

 #logout:hover {
    color: #D92121;
  text-decoration: underline;
 }

 #logout:-webkit-any-link {
    cursor: pointer;
 }